<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="./static/blog.css">
    <title>个人博客</title>
</head>
<body>
  <div class="header">
    <nav>
      <ul>
        <li>
          <a href="#home">首页</a>
          <a href="文章">文章</a>
          <a href="关于我们">关于我们</a>
          <a href="联系我们">联系我们</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="article">
    <h1>文章标题</h1>
    <div class="date">发布时间：2025/2/19</div>
    <hr>
    <p>正文内容</p>
  </div>
  <!--底部显示联系我们-->
  <div class="footer">
    <a href="#email">联系我们</a>
  </div>

</body>
</html>
<script type="text/javascript"></script>
