<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="book-detail">
        <img src="{{ url_for('static', filename=book.cover) }}" alt="{{ book.title }}">
        <h1>{{ book.title }}</h1>
        <h2>作者: {{ book.author }}</h2>
        <p>{{ book.description }}</p>
        <a href="{{ url_for('index') }}">返回首页</a>
    </div>
</body>
</html>
<script type="text/javascript"></script>