<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>静态文件CSS为页面添加样式</title>
</head>
<body>
  <div>
    <h1>
      宫崎骏动漫 波妞和宗界
    </h1>
  </div>
<div>
  <img
        alt="001"
        class="girl"
        src="{{ url_for('static', filename='images/001.jpg') }}"
  />
  <img
        alt="002"
        class="fish"
        src="{{ url_for('static', filename='images/002.jpg') }}"
  />

</div>

</body>
</html>
<script type="text/javascript"></script>

<!--# 课堂练习-->
<!--# 创建一个简单的 Flask 应用，展示如何使用 Flask 提供的静态文件功能。-->
<!--# 在 static 文件夹中放置一个 CSS 文件，并在 HTML 模板中引用该文件来为页面添加样式。-->
<!--# 页面展示一个标题，要求使用该 CSS 文件来修改标题的颜色和字体大小。-->
<!--# 静态文件存放在 static 文件夹中，CSS 文件命名为 style.css。-->